<div class="main__btns main__btns_top">
    <button class="main__btn btn" onclick="location.href = '{{ path('app_index') }}'">
        <span class="btn__text">{{ links.home}}</span></button>
    <button class="main__btn btn" onclick="location.href = '{{ path('app_homepage_gallery') }}'">
        <span class="btn__text">{{ links.gallery}}</span></button>
    <button class="main__btn btn" onclick="location.href = '{{ path('app_homepage_rules') }}'">
        <span class="btn__text">{{ links.rules}}</span></button>
    <button class="main__btn btn" onclick="location.href = '{{ path('app_homepage_my_path') }}'">
        <span class="btn__text">{{ links.my_path}}</span></button>
    <button class="main__btn btn" onclick="location.href = '{{ path('app_homepage_ambulance') }}'">
        <span class="btn__text">{{ links.ambulance}}</span></button>
</div>
<div class="main__btns main__btns_bot">
    <button class="main__btn btn" onclick="location.href = '{{ path('app_homepage_feedback') }}'">
        <span class="btn__text">{{ links.feedback}}</span></button>
    <button class="main__btn btn" onclick="location.href = '{{ path('app_homepage_payment') }}'">
        <span class="btn__text">{{ links.payment}}</span></button>
    <button class="main__btn btn" onclick="location.href = '{{ path('app_homepage_faq') }}'">
        <span class="btn__text">{{ links.faq}}</span></button>
</div>